html{
  background:url(https://img.freepik.com/foto-gratis/cerca-colorido-abstracto-ahumado_53876-148112.jpg);
  color: #0d0d0d ;
}
textarea{
  background: url(https://img.freepik.com/foto-gratis/cerca-colorido-abstracto-ahumado_53876-148112.jpg);
}