body {
    background: url("https://i.pinimg.com/564x/f4/fa/cb/f4facbe75363d6a895cc82ba83d70213.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}
textarea{
    background: url("https://i.pinimg.com/564x/f4/fa/cb/f4facbe75363d6a895cc82ba83d70213.jpg") ;
}